@use 'sass:math';
//??????????????????????????????????????????????????
//*function
//* % percent
@function per($one, $two) {
  $res: math.div($one, $two) * 100%;
  @return $res;
}
//* em
@function em($pixel) {
  $res: math.div($pixel, 16) + em;
  @return $res;
}
//* rem
@function rem($pixel) {
  $res: math.div($pixel, 16) + rem;
  @return $res;
}

//??????????????????????????????????????????????????
//* mixin adaptive
@mixin widthAdaptive($init, $final) {
  width: $init + px;
  max-width: $init + px;
  min-width: $final + px;

  $per: calc(
    #{$init + px} - ((#{$init} - #{$final}) *
          ((#{$widthContainer+px} - #{100vw}) / (#{$widthContainer}-320)))
  );
  width: $per;
}
//??????????????????????????????????????????????????????
@mixin paramAdaptive($param, $init, $final) {
  #{$param}: $init + px;

  @media (max-width: #{$widthContainer+px}) {
    #{$param}: calc(
      #{$init + px} - ((#{$init} - #{$final}) *
            ((#{$widthContainer+px} - #{100vw}) / (#{$widthContainer}-320)))
    );
  }
}
//??????????????????????????????????????????????????
@mixin fontAdaptive($param, $init, $final) {
  #{$param}: $init + px;
  @media (max-width: #{$widthContainer+px}) {
    #{$param}: calc(
      #{$init + px} - ((#{$init} - #{$final}) *
            ((#{$widthContainer+px} - #{100vw}) / (#{$widthContainer}-320)))
    );
  }
}

//??????????????????????????????????????????????????
// 1 = responsive || 2 = breakpoint
$type: 0;
@if ($type==0) {
  [class*='__container'] {
    @if ($widthContainer>0) {
      max-width: rem($widthContainer);
      margin: 0 auto;
    }
    @if ($paddingContainer>0) {
      padding: 0 rem(math.div($paddingContainer, 2));
    }
  }
}
@if ($type==1) {
  [class*='__container'] {
    @media (max-width: $point-12px) {
      max-width: rem($point-10);
    }
    @media (max-width: $point-10px) {
      max-width: rem($point-9);
    }
    @media (max-width: $point-9px) {
      max-width: rem($point-7);
    }
    @media (max-width: $point-7px) {
      max-width: rem($point-5);
    }
    @media (max-width: $point-5px) {
      max-width: none;
    }
  }
}
//??????????????????????????????????????????????????
