//???????????????????????????????????????????????
//* options // $min-Width: 320; //? // constant
//
$maxWidth: 1440; //! Need a setup
//
$widthContainer: 1040 + 30; //! Need a setup
//
$paddingContainer: 30;
//
//*breakPoint
//
$point-3: 375;
$point-4: 480;
$point-5: 576;
$point-6: 600;
$point-7: 768;
$point-9: 992;
$point-10: 1024;
$point-12: 1200;
$point-14: 1400;
//px
$point-3px: 375px;
$point-4px: 480px;
$point-5px: 576px;
$point-6px: 600px;
$point-7px: 768px;
$point-9px: 992px;
$point-10px: 1024px;
$point-12px: 1200px;
$point-14px: 1400px;
